.card-recommend-rating-wrapper{
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  position: relative;

}
.card-recommend-rating{
  /* flex-direction: row; */
  display: flex;
}
.card-recommend-rating-star{
  position: relative;
  flex-direction: row;
  display: flex;
  position: relative;
  top:-2px;
  margin-right: 4px;
  /* width: 105px; */
}
.rating-star-wrapper{
  /* margin-right: 0px; */
  margin-right: 1.5px;
  position: relative;
  width:14px;
  height: 20px;
}
.rating-star-fill{
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.rating-star-icon-fill{
  color: #faca51;
  stroke: #faca51;
  display: block;
  left: 0;
  overflow-x: hidden;
  position: absolute;
  display: inline-block;
  height: 1em;
  width: 1em;
  fill: currentColor;
  position: relative;
}
.rating-star-icon-border{
  overflow: hidden;
  color: #faca51;
  display: block;
  stroke: currentColor;
  display: inline-block;
  height: 1em;
  width: 1em;
  
  fill: currentColor;
  position: relative;
}