
/* body{
    font-size: 0.875rem;
} */
.header{
    background-color: #FD774E;
    position: fixed;
    left: 0;
    right:0;
    top:0;
    z-index: 300;
    /* transform: translateZ(0); */
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding:0;
    width: 1200px;
}
.navbar{
    padding-top: 5px;
}
.navbar-wrapper{
    background: transparent;
    height: 2.125rem;
    position: relative;
    z-index: 400;
    /* color:#fff !important; */
}
.navbar-links{
    display: flex;
    align-items: center;
    list-style: none;
    margin:0;
    padding: 0;
    
}
.navbar-link-wrapper{
    cursor: pointer;
    padding: 0rem 0.625rem;
    font-size: 1.125rem;  
}
.navbar-link{
    color:#fff;
}
.noti-dropdown{
    position: relative;
    display: none ;
}
.company-logo-wrapper{
    padding-right: 2.5rem;
    position: relative;
    top:-.1875rem;
    box-sizing: border-box;
}
.company-logo-icon{
    height: 50px;
    width: 162px;
    background-color: #FD774E;
    position: relative;
    top :-2px;
    left:-12px;
}
.header-search-wrapper{
    display: flex;
    height: 4.75rem;
    justify-content: space-between;
    padding: 1rem 0 .625rem;
}
.header-search-form-wrapper{
    position: relative;
    width: 840px;
}
.header-searchbar{
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.09);
        width: 100%;
        --focus-indicator-spacing: 3px;
        align-items: stretch;
        background: #fff;
        border-radius: 2px;
        box-sizing: border-box;
        display: flex;
        height: 2.5rem;
        justify-content: space-between;
        /* padding: .1875rem; */
    }
.header-searchbar-input{
    align-items: center;
    border: 0;
    display: flex;
    flex: 1;
    margin: 0;
    outline: none;   
    padding: 0 .625rem;
    font-size: .875rem;
}
.header-searchbar-button{
    background: #fb5533;
    border-radius: 0;
    outline: 0;
    position: relative;
    overflow: visible;
    width: 45px;
}
.header-searchbar-button:hover{
    background-color: #fb6445;
}
.search-icon{
    margin: 0 auto;
    background-color: #fb5533;
    position: relative;
    top :-2px;
    color: #fff;
    fill: currentColor;
}
.cart-wrapper{
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 0 10px;
    box-sizing: border-box;
    top:-0.175rem;
    position: relative;
}
.cart-icon{
    background-color: #FD774E;
    position: relative;
    top :0.5rem;
    color: #fff;
    stroke: #fff;
    fill: currentColor;
}
.cart-number-badget{
    background-color: #fff;
    border: .125rem solid var(--brand-primary-color,#ee4d2d);
    border-radius: 2.75rem;
    color: var(--brand-primary-color,#ee4d2d);
    height: 1.25rem;
    line-height: 1.25em;
    margin-right: -.875rem;
    width: 1.5rem;
    position: relative;
    text-align: center;
    top: -1.75rem;
    left: 1rem; 
}
.content-wrapper{
    margin-top: 8.25rem;
    border-radius: .125rem;
    padding: 30px 0px 0px 0px;
}
.user-content-wrapper{
    background-color: white;
    outline: none;
    z-index: 2202;
    position: absolute;
    font-size: 14px;
    width: 150px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    /* display: none; */
}
.user-item,.logout-button{
    text-transform: capitalize;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.user-item-title{
    color:#000000;
}
.logout-button{
    border: 0;
    width: 100%;
    text-transform: capitalize;
    background: inherit;
}
.footer {
    background: #f5f5f5;
    color: rgba(0,0,0,.65);
    font-size: 1rem;
    padding: 1.5rem 0 ;
    border-top: 2px solid lightslategray; 
}
.about-us-wrapper{
    float: left;
    overflow: hidden;
    width: 32%;
}
.footer-content-wrapper{
    width: 75rem;
    align-items: flex-start;
    display: flex;
    min-width: 1200px;
    padding: .3125rem;
}
.footer-content-card{
    box-sizing: border-box;
    width: 15.625rem;
    padding: .3125rem;
}
.footer-content-card-title{
    color: rgba(0,0,0,.87);
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
    margin-top: 2.5rem;
}
.footer-content-card-contact{
    color: rgba(0,0,0,.65);
    display: block;
    list-style-type: none;
    margin: 0 0 1rem;
    padding: 0;
    -webkit-text-decoration: none;
    text-decoration: none;
}
.footer-contact-wrapper{
    font-size: 1rem;
    margin-bottom: .75rem;
    align-content: center;
    display: flex;
}
.footer-contact-li{
    color: rgba(0,0,0,.65);
    overflow: hidden;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: flex;
}
.footer-contact-icon{
    height: 1.25rem;
    margin-right: .5rem;
    width: 1.25rem;
    position: relative;
    top:1.5px;
}
.footer-contact-desc{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.phone-number{
    color: #0061f2;
}
.footer-payment-wrapper{
    display: inline-block;

    margin: 0 25px 10px 0px;
}
.payment-icon{
    height: 39px;
    width: 100%;
}
.footer-content-card-payment{
padding-left: 0px;
}
.about-us-wrapper{
    width: 46.875rem;
}