.seller-wrapper{
    background: #fff;
    border-radius: .125rem;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    margin-top: .9375rem;
    overflow: hidden;
    padding: .625rem;
}
.seller-wrapper{
    background: #fff;
    border-radius: .125rem;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    margin-top: .9375rem;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: space-between;
    overflow: visible;
    padding: 25px 25px 25px 40px!important;
}
.seller-acc{
    border-right: 1px solid rgba(0,0,0,.05);
    box-sizing: border-box;
    display: flex;
    max-width: 440px;
    padding-right: 25px;
}
.seller-acc-img-wrapper{
    flex-shrink: 0;
    margin-right: 20px;
    outline: 0;
    overflow: visible;
    position: relative;
    cursor: pointer;
    height: 80px;
    width: 80px;
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
}
.seller-acc-info{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    overflow: hidden;
}
.seller-acc-name{
    color: rgba(0,0,0,.87);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.seller-btn-wrapper{
    margin-top: 8px;
}
.seller-watch-btn{
    height: 34px;
    
}
.seller-info-wrapper{
    display: flex;
    grid-template-columns: repeat(3,auto);
    grid-gap: 20px 50px;
    color: rgba(0,0,0,.4);
    gap: 20px 50px;
    padding-left: 25px;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.seller-info-content{
    cursor: default;
    display: flex;
    justify-content: space-between;
    outline: 0;
    overflow: visible;
    position: relative;
    width:40%;
    font-size: 1rem;
}
.seller-info-title{
    color: rgba(0,0,0,.4);
    margin-right: 12px;
    text-transform: capitalize;
}
.seller-info-value{
    color: #ee4d2d;
    text-align: right;
    white-space: nowrap;
}
/* .seller-watch-btn:hover{
    background: rgba(255,197,178,.181);
    border: 1px solid #ee4d2d;
    color: #ee4d2d;
} */
.shop-info{
    color:black;
}
.follow,.followed{
    /* background: rgba(255,87,34,.1); */
    /* border: 1px solid #ee4d2d; */
    color:white;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
    outline: 0;
    overflow: visible;
    position: relative;   
    font-size: 15px!important;
    margin-right: 15px;
    min-width: 180px!important;
    padding: 0 12px;
}
.followed{
    background: rgba(255,87,34,.1);
    border: 1px solid #ee4d2d;
    color: #ee4d2d;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
    outline: 0;
    overflow: visible;
    position: relative;   
    font-size: 15px!important;
    margin-right: 15px;
    min-width: 180px!important;
    padding: 0 12px;
}